---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- for page in collections.all %}
  {%- if page.url and not page.data.excludeFromSitemap %}
  <url>
    <loc>https://aisafetycommunity.it{{ page.url }}</loc>
    <lastmod>{{ page.date | date("Y-m-d") }}</lastmod>
    <changefreq>
      {%- if page.url == "/" or "/events" in page.url -%}weekly
      {%- elif "/about" in page.url or "/community" in page.url or "/faq" in page.url -%}monthly
      {%- else -%}yearly
      {%- endif -%}
    </changefreq>
    <priority>
      {%- if page.url == "/" -%}1.0
      {%- elif "/about" in page.url -%}0.9
      {%- elif "/events" in page.url or "/faq" in page.url -%}0.8
      {%- elif "/community" in page.url -%}0.7
      {%- else -%}0.5
      {%- endif -%}
    </priority>
    <xhtml:link rel="alternate" hreflang="en" href="https://aisafetycommunity.it{{ page.url }}"/>
    <xhtml:link rel="alternate" hreflang="it" href="https://aisafetycommunity.it/it{{ page.url }}"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://aisafetycommunity.it{{ page.url }}"/>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
